<h3>{{question.title}}</h3>
<h4>{{question.question}}</h4>
<ul class="list-group"><label>
  <li class="list-group-item"><input type="radio"
        value="true"
        [(ngModel)]="answer"
        name="{{question._id}}"/>True</li>
</label>
</ul>
<ul class="list-group"><label>
  <li class="list-group-item"><input type="radio"
        [(ngModel)]="answer"
        value="false"
        name="{{question._id}}"/>False</li>
</label>
</ul>
<br>
<button class="btn-success btn">Grade</button>
<br>
Your Answer: {{answer}}

<span [hidden]="answer !== question.correct">Yay!</span>
<span [hidden]="answer === question.correct">Oops!</span>